.post-body {
  font-family: $font-family-posts;
  word-wrap();

  +desktop-large() {
    font-size: $font-size-large;
  }

  span.exturl .fa {
    font-size: $font-size-small;
    margin-left: 4px;
  }

  .image-caption, .figure .caption {
    color: $grey-dark;
    font-size: $font-size-small;
    font-weight: bold;
    line-height: 1;
    margin: -20px auto 15px;
    text-align: center;
  }
}

.post-sticky-flag {
  display: inline-block;
  transform: rotate(30deg);
}

.post-button {
  margin-top: 40px;
  text-align: center;
}

.use-motion {
  if (hexo-config('motion.transition.post_block')) {
    .post-block, .pagination, .comments {
      opacity: 0;
    }
  }

  if (hexo-config('motion.transition.post_header')) {
    .post-header {
      opacity: 0;
    }
  }

  if (hexo-config('motion.transition.post_body')) {
    .post-body {
      opacity: 0;
    }
  }

  if (hexo-config('motion.transition.coll_header')) {
    .collection-header {
      opacity: 0;
    }
  }
}

@import 'post-collapse';
@import 'post-eof';
@import 'post-expand';
@import 'post-gallery';
@import 'post-header';
@import 'post-nav';
@import 'post-rtl';
@import 'post-tags';
@import 'post-widgets';
@import 'post-reward';

@import 'post-copyright' if (hexo-config('creative_commons.post'));

@import 'post-followme' if (hexo-config('follow_me'));


// code样式
code {
  background: #fffcd7;
  color: #ff6060;
  padding: 1px 2px;
}

// 超链接样式
.post-body p a {
  color: #6097ff;
  border-bottom: none;
  border-bottom: 1px solid #6097ff;
  &:hover {
    color: #ff6060;
    border-bottom: none;
    border-bottom: 1px solid #ff6060;
  }
}

// 阅读全文样式
.btn {
  color: #ff6060;
  background-color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ff6060;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: #fff;
    background-color: #ff6060;
    border-color: #ff6060;
  }
}

// 底部文字样式
.footer, .footer a {
  color: #ffffff;
  opacity: .8;
  border: none;
  
  &:hover {
    border: none;
  }
}